/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.05.2017, 10:18:36
    Author     : Altair
*/

body {
        background-color: #20B2AA;
	font-family: roboto-regular;
	color: white;
	text-align:center;
}

a {
    color:black;
    font-family: Segoe UI;
    font-size: 16px;
    font-variant: normal;
    font-weight: 600;
    line-height: 12px;
}

#left {
padding: 50px;
float: left;
background-color: #66D0FA;
}
#middle {
padding: 50px;
float: next;
background-color: #60C6EE;
}
#right {
padding: 50px;
float: right;
background-color: #57B5DA;
}

:link, :visited {
    background-color: #00796b;
    color: white;
    padding: 10px;
    text-align: center; 
    text-decoration: none;
	font-size: 15px;
    display: inline-block;
	border-radius: 2px;
}
.dialogField:hover, .dialogField:active {
    background-color: #00BFFF;
}

.dialogField{
    background: #00BFFF;
    margin-top: 10%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    border: 7px solid #1E90FF;
}
.dialogFieldRel{
    background: #00BFFF;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    border: 7px solid #1E90FF;
}

.insMovBackground{
    background: #BBCCCB;
    padding: 50px 120px 50px 120px;
    margin-top: 5%;
    
}

.menueField{
    background: #00BFFF;
    padding: 15px 60px 15px 60px;
}

.materialButton:hover, .materialButton:active {
    background-color: 	#6495ED;
}
.materialButtonBottom:hover, .materialButtonBottom:active {
    background-color: 	#6495ED;
}
.table{
    margin-top: 5%;
    background: #50AD9A;
    display: inline-block;
    border-radius: 3px;
    border: 7px solid #D3DFDE;
    padding: 500px;
}
.materialButton{
    background-color: #1E90FF;
    color: white;
    padding: 10px 18px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border:0 none;
    margin-left: 10px;
    margin-right: 10px;
    
}
.materialButtonBottom{
    margin-top: 4%;
    background-color: #1E90FF;
    color: white;
    padding: 10px 18px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border:0 none;
}